<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{ message }}
        <div>
            {{count}}
        </div>
        <button type="button" v-on:click="count++">增加(完整)</button>
        <button type="button" @click="count++">增加(簡寫)</button>
        <button type="button" @click="addCount()">增加(函式)</button>
        <hr>
        <input v-model="inputText" type="text">{{inputText}}
        <div>{{power}}</div>
        <button type="button" @click="power++">蓄力</button>
        <button type="button" @click="power--">消氣</button>
        <br>
        <img v-if="power < 5" src="./img/p1.jpg" alt="">
        <!-- <img v-else src="./img/p2.jpg" alt=""> -->
        <img v-else-if="power < 10" src="./img/p2.jpg" alt="">
        <img v-else src="./img/p3.jpg" alt="">
        <img v-show="power >= 20" src="./img/p4.jpg" alt="">
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    array: [],
                    object: {},
                    count: 0,
                    inputText:'',
                    power: 0,
                }
            },
            methods:{
                addCount(){
                    // console.log(this);
                    this.count++;
                }
            }
        }).mount('#app')
    </script>
</body>


</html>